# Data Structure

In [64]:
list1 = [12,34,45,56]
#mixed datatypes
list2 = [12, "string", True, 124.45, "as"]
print(list2)

[12, 'string', True, 124.45, 'as']

In [65]:
#list of list
list3 = [[12,34,45],[23,65,43],[23,54,67]]
print(list3)

[[12, 34, 45], [23, 65, 43], [23, 54, 67]]

In [87]:
#indexing
print(list1[0])
print(list2[1])
print(list3[2])

print(list3[1][2])

12
string
[23, 54, 67]
43

In [121]:
#slicing
list4 = [1,2,3,4,5,6,7]
print(list4[1:6])
print(list4[:])   #all
print(list4[:4])

[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4]

In [123]:
list4.index(3)

2

In [74]:
#find length of a list
len(list1)

4

In [75]:
#we can use len function for string as well
str1 = "My name is savan"
len(str1)

16

In [79]:
min(list4)

1

In [76]:
max(list4)

7

In [110]:
numbers = [12,43,12,89,34,0,23]
numbers.sort()
print(numbers)

[0, 12, 12, 23, 34, 43, 89]

In [111]:
#appends
numbers.append(33)
print(numbers)

[0, 12, 12, 23, 34, 43, 89, 33]

In [112]:
#join
numbers2 = [12,32,54]
numbers.extend(numbers2)
print(numbers)


#another way
#print(numbers + numbers2)

[0, 12, 12, 23, 34, 43, 89, 33, 12, 32, 54]

In [113]:
numbers.remove(23)

In [114]:
print(numbers)

[0, 12, 12, 34, 43, 89, 33, 12, 32, 54]

In [115]:
del numbers[5]

In [116]:
print(numbers)

[0, 12, 12, 34, 43, 33, 12, 32, 54]

In [117]:
numbers.pop()
print(numbers)

[0, 12, 12, 34, 43, 33, 12, 32]

In [118]:
numbers.pop(0)
print(numbers)

[12, 12, 34, 43, 33, 12, 32]

In [119]:
#sort in descending order
numbers.sort(reverse=True)   #or you can use directly reverse method
print(numbers)

[43, 34, 33, 32, 12, 12, 12]